<div class="container">
  <form [formGroup]="form" (ngSubmit)="guardar()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="nombre">
        <small *ngIf="nombreInvalido" class="text-center">
        <mat-error >Nombre requerido</mat-error>
      </small>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email">
        <small *ngIf="emailInvalido" class="text-center">
          <mat-error >email requerido o invalido</mat-error>
        </small>
      </mat-form-field>
    </div>
     
    <div>
      <mat-form-field appearance="fill">
        <mat-label>País</mat-label>
        <mat-select formControlName="pais">
          <mat-option *ngFor="let pais of arregloPaises" [value]="pais.country">
          {{pais.country}}
          </mat-option>
        </mat-select>
        <small *ngIf="paisInvalido" class="text-center">
          <mat-error >país requeriso</mat-error>
        </small>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" class="example-form-field">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
          <input matStartDate placeholder="Start date" #fechaInicio formControlName="fechaInicio" >
          <input matEndDate placeholder="End date" #fechaFinal formControlName="fechaFinal" >
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply (click)="reserva(fechaInicio.value,fechaFinal.value)">Apply</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
        <small *ngIf="fechaInicioInvalida" class="text-center">
          <mat-error >Fecha invalido o requerida</mat-error>
        </small>
        <small *ngIf="fechaFinalInvalida" class="text-center">
          <mat-error >Fecha invalido o requerida</mat-error>
        </small>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit">Enviar</button>
  </form>
</div>