<mat-toolbar color="primary">

  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Sistema login</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/dashboard'"> Dashboar </a>
      <a mat-button [routerLink]="'/componente-uno'">Componente uno </a>
      <a mat-button  *ngIf="loginAuth.isAuthenticated()" (click)="logout()"> Cerrar sesión </a>
      <a mat-button [routerLink]="'/login'" *ngIf="!loginAuth.isAuthenticated()" > login </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/dashboard'"> Dashboar </a>
      <a mat-list-item [routerLink]="'/componente-uno'">Componente uno </a>
      <a mat-list-item *ngIf="loginAuth.isAuthenticated()" (click)="logout()"> Cerrar sesión </a>
      <a mat-list-item [routerLink]="'/login'" *ngIf="!loginAuth.isAuthenticated()" > login </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>